{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home{% endblock title %}</h1>
{% endblock header %}

{% block content %}
  <p>
    Hello, my name is Nikolai, but you can call me Nick. I love simplicity and minimalism.
  </p>
  <p>&nbsp;</p>
  <p>
    Also, I think that the Web we have today is way overcomplicated. Look at <a href="https://motherfuckingwebsite.com/">this beauty</a> for example.
  </p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <div class="Skills">
    <p>
      Among my skills is the knowledge of several programming languages such as:
      <ul>
        <li>Python</li>
        <li>C/C++</li>
        <li>Java</li>
        <li>Rust</li>
      </ul>
    </p>
    <p>
      I also have the knowledge of:
      <ul>
        <li>Git</li>
        <li>Bash Scripting</li>
        <li>Linux</li>
        <li>Networking</li>
        <li>Docker</li>
        <li>Googling</li>
      </ul>
    </p>
  </div>
  <p>In everything I have mentioned above, I have yet to gain any significant experience.</p>
  <p>And yet, I am always striving to learn more about all of that, not being afraid to experiment and make mistakes.</p>
{% endblock content %}